.register-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 400px;
    align-items: center;
    padding: 16px 64px;
    box-sizing: border-box;
}

.register-form p {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    width: 272px;
    height: 30px;
}

.register-form .error {
    color: red;
    font-size: 12px;
}

a {
    color: var(--color-principal);
}

a:hover {
    color: var(--color-principal-hover);
}