.user-card {
    aspect-ratio: 1 / 1; 
    border-radius: 50%;
    border: 1px solid #ccc;
    overflow: hidden;
}

.user-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-card:hover .user-card-img {
     transform: scale(1.05);
}

.user-card:active {
    transform: scale(0.95);
}
