.modalBloqueo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modalContenido {
    background: var(--color-fondo);
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;    
    align-items: center;
    gap: 12px;    
  }
  
  .modalContenido h2, .modalContenido p {
    color: black;
  }

  .modalContenido button{
    background-color: var(--color-principal);
  }

  .modalContenido button:hover {
    background-color: var(--color-principal-hover);
  }