/* -------------------- OVERLAY: Fondo semi-transparente -------------------- */
.modalOverlay {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); 
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 1000; /*encima de otros elementos*/
}

/* -------------------- fondo del cuadrado del modal-------------------- */
.modalContent {
    background-color: #ffffff; 
    padding: 25px 35px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 90%; 
    max-width: 400px; 
    text-align: center;
    transform: scale(1); 
    transition: transform 0.3s ease-out;
}

.modalContent h2 {
    color: #333;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.modalContent p {
    color: #666;
    margin-bottom: 25px;
    line-height: 1.4;
}

.modalActions {
    display: flex;
    justify-content: space-around; 
    gap: 15px; 
}

.modalActions button {
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;
    flex-grow: 1; 
}


.modalActions .button-confirm {
    background-color: #e74c3c; 
    color: white;
}

.modalActions .button-confirm:hover {
    background-color: #c0392b;
}

.modalActions .button-cancel {
    background-color: #bdc3c7; 
    color: #333;
}

.modalActions .button-cancel:hover {
    background-color: #95a5a6;
}