.home-container {
    display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden; 
}

.main-content-container {
    display: flex;                
    justify-content: center;      
    align-items: flex-start;      
    flex-grow: 1;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 40px 0;
    margin-left: 40px;;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 600px;             
    margin: 0 auto;               
    align-items: stretch;
}

.timeline-post {
    width: 100%;                  
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-header div {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.post-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.post-info {
    display: flex;
    flex-direction: column;
}

.post-info span {
    font-weight: bold;
    font-size: 14px;
}

.post-info .post-date {
    font-weight: normal;
    color: #8e8e8e;
    font-size: 12px;
}


.post-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

.infoPost {
    display: flex;
    gap: 15px; 
    font-size: 14px;
    color: #8e8e8e;
}

.infoPost p {
    margin: 0;
    cursor: pointer;
}

.infoPost p strong {
    color: #000;
}

.post-description {
    font-size: 14px;
    margin-top: -5px; 
    cursor: pointer;
}
