input {
  padding: 8px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  background-color: #FAFAFA;
  font-size: 12px;
  color: #000000;
}

input:focus {
  box-shadow: 0 0 5px rgba(73, 93, 249, 0.5);
  outline: none;
}