.input-field {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  background-color: #FAFAFA;
  font-size: 12px;
  color: #000000;
  width: 272px;
  height: 31px;
  max-width: 300px;
  gap: 10px;
  opacity: 1;
  padding: 8px;
  border-width: 1px;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-field:focus {
  box-shadow: 0 0 5px rgba(73, 93, 249, 0.5);
  outline: none;
}