@import './InputField.css';
@import './SubmitButton.css';

.login-form{
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 80%;
 }

.login-form .error {
    color: red;
    font-size: 12px;
}
