@import './SubmitButton.css';
@import './InputField.css';
@import './LoginForm.css';

.login-container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.photo-container {  
  width: 620px;
  max-width: 700px;
}

.login-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-logo {
  width: 200px;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 528px;
  box-sizing: border-box;
  justify-content: center;
  padding: 64px;
}

.divider {
  width: 100%;
}

.form-container p {
  color: gray;
  font-size: 14px;
}

.form-container a {
  color: #5289c0;
  text-decoration: none;
}

