  body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  height: 70vh;
  max-width: 1980px; 
  margin: 0 auto;
  box-sizing: border-box;

}

.preview {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.preview img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.placeholder {
  font-size: 30px;
  font-weight: bold;
  color: #5e5c5c;
}

.inputs {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
  padding: 30px;
}

.inputs input,
.inputs textarea {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 70%;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

.inputs textarea {
  resize: none;
  height: 100px;
}

.inputs button {
  padding: 12px;
  background-color: #4f46e5;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 70%
}

.inputs button:hover {
  background-color: #4338ca;
}

.preview-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px; 
  margin-top: 80px;
  background-color: #dedede
}

.preview-title {
  font-size: 30px;
  font-weight: bold;
  color: #5e5c5c;
  margin: 0;
  position: absolute;
}

@media (max-width: 600px) {
  .container {
    padding: 4px;
    gap: 8px;
  }
  .inputs {
    padding: 8px;
  }
  .preview img {
    max-height: 180px;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo gris transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modalContent p {
  margin-bottom: 16px;
  font-size: 16px;
}

.modalContent button {
  background: #736ded;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.modalContent button:hover {
  background: #4f46e5;
}