.search-post-card {
  overflow: hidden;
}

.search-post-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.search-post-card:hover .search-post-card-img {
  filter: brightness(60%);
}