.post-card {
  width: 342px;
  overflow: hidden;
}

.post-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.post-card:hover .post-card-img {
  filter: brightness(60%);
}