#root{
    padding: 0;
}

.register-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 528px;
    gap: 12px;
    padding: 0 64px;
}

.register-text-logo{
    width: 200px;
    height: 60px;
}

.register-form-container h2{
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #4E4E4E;
}

.register-form-container p{
    font-size: 12px;
    color: #4E4E4E;
    width: 117px;
    height: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.register-divider {
    width: 400px;
    height: 0px;
    opacity: 1;
    border-width: 1px;
}