.user-card {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-width: 1px;
    border: 1px solid #CCCCCC;
    overflow: hidden;
}

.user-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-card:hover .user-card-img {
     transform: scale(1.05);
}

.user-card:active {
    transform: scale(0.95);
}
